<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Welcome to the 1st PMCI Conference!</p>

<p>You can register <a href="https://docs.google.com/spreadsheets/d/1axwJMEaNBGSDVXm9ULOAPFzL-cmDxhHzNbNMoGZyuF0/edit?usp=sharing" target="_blank">in this link</a> by adding your name and presentation details</p>

<p>Participants from session A should submit their presentations using this <a href="https://drive.google.com/drive/folders/1YCOOTaDHD1PsSibtgqVnT7q679RBDl-2" target="_blank">google drive link</a>.</p>

<p> Submission deadline April 8, 2023 <a href="https://time.is/Anywhere_on_Earth" target="_blank">AoE time</a>.</p>


